.bookSection{
    width: 100%;
    margin-inline-start: 45%;
}

.bookDisplay{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}