.bookSection{
    width: 100vh;
}

/* Prevents margin when component is encapsulated into another component */
.bookSection-encapsulated{
    width: 100%;
}

.bookDisplay{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}