.homePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeLink{
    color: blue;
    text-decoration: underline;
}

/* @media (max-width: 1300px)  and (min-width: 1200px) {
    .homePageContainer{
        margin-left: 45%;
    }    
}

@media (max-width: 1200px)  and (min-width: 1080px) {
    .homePageContainer{
        margin-left: 35%;
    }    
}

@media (max-width: 1080px)  and (min-width: 980px) {
    .homePageContainer{
        margin-left: 25%;
    }    
}

@media (max-width: 980px)  and (min-width: 880px) {
    .homePageContainer{
        margin-left: 10%;
    }    
}
@media (max-width: 880px){
    .homePageContainer{
        margin-left:0%;
    }    
} */