/* Navbar */
.hidden{
    display:none;
  }
  
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding-inline: 2em;
    height: 12vh;
  }
  
  .logoSection h2{
  
  }
  
  .navItems ul{
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  .navItems ul li{
    margin: .3em;
    padding: 5px;
    border-radius: .2em;
  }
  
  .navItems ul li:hover{
    background-color: grey;
  }
  
  .mobileNavToggle{
    display:none;
  }
  
  @media (max-width: 600px ){
    .hidden{
      display:none;
    }
  
    body{
      background-color: red;
    }
  
    .navItems ul{
      margin: 0;
      gap: 2rem;
      flex-direction: column;
      position: fixed;
      inset: 0 0 0 70%;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 2rem 1rem;
      z-index: 1000;
    }
    .mobileNavToggle{
      display: block;
      position: fixed;
      right: 2rem;
      top: 2rem;
      z-index: 9999;
    }
    .navItems ul{
      padding: 12vh 2vh 0vh 2vh;
      z-index: 9998;
      position: fixed;
      transform: translateX(100%);
      transition: transform 400ms ease-in-out;
      margin: 0;
    }
  
    .navItems ul[data-visible="true"]{
      transform: translateX(0%);
    }
  
    
  }